<%- include('layouts/header') %>

<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center my-2">Editar un producto</h3>
      <form class="row" id="add-form" action="/update/<%= data._id %>" method="post" enctype="multipart/form-data">
        <div class="mb-3 col-2">
          <label for="InputCode" class="form-label">Código</label>
          <input type="text" name="code" class="form-control" id="InputCode" value="<%= data.product_code %>" />
        </div>
        <div class="mb-3 col-6">
          <label for="InputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="InputName" name="name" value="<%= data.name %>" />
        </div>
        <div class="mb-3 col-2">
          <label for="InputAmount" class="form-label">Cantidad</label>
          <input type="number" min="0" class="form-control" id="InputAmount" name="amount"  value="<%= data.available %>" />
        </div>
        <div class="mb-3 col-2">
          <label for="InputPrice" class="form-label">Precio</label>
          <input type="number" min="0" class="form-control" id="InputPrice" name="price" value="<%= data.price %>" />
        </div>
        <div class="mb-3 col-auto">
          <label for="InputPhoto" class="form-label">Foto del producto</label>
          <input type="file" name="photo" class="form-control" id="InputPhoto" value="<%= data.product_photo %>"/>
          <img src="/<%= data.product_photo %>" width="100" class="img-thumbnail mt-1">
        </div>
        <div class="mb-3 col-12">
          <label for="InputDescription" class="form-label">Descripción</label>
          <textarea
            style="height: 100px"
            type=""
            name="description"
            class="form-control"
            id="InputDescription"
          ><%= data.description %></textarea>
        </div>

        <input type="hidden" name="old_image" value="<%= data.description %>">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('layouts/footer') %>
