<%- include('layouts/header') %>

<div class="container">
  <table class="table table-striped text-center my-4">
    <thead>
      <tr class="table-dark">
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Foto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((item, index) => { %>
      <tr>
        <th scope="row"><%= item.product_code%></th>
        <td><%= item.name%></td>
        <td><%=item.description%></td>
        <td><%=item.product_photo%></td>
        <td><%=item.available%></td>
        <td><%=item.price%></td>
        <td>
          <i class="bx bx-edit fs-4"></i>
          <i class="bx bxs-trash fs-4"></i>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('layouts/footer') %>
